/*
collapsing-item.css is used for the CollapsingItemContainer.jsx styles that cannot be added inside a const
*/

.expanded-button-style {
  border-radius: 5px 5px 0 0;
}

.expanded-container-style {
  width: 100%;
  min-height: 100px;
  border-style: solid;
  border-color: #00565e;
  border-width: 0 1px 1px 1px;
  border-radius: 5px;
}

.expanded-header-button-style {
  border-radius: 0px 0px 0 0;
}
.expanded-header-style {
  width: 100%;
  border-style: solid;
  /* border-color: #00565e; */
  border-width: 1px 1px 1px 1px;
}

.scorer-header-btn-primary {
  color: #fff;
  background-color: #00565e;
  border-color: #00565e;
}

.scorer-header-btn-primary:hover {
  color: #fff;
  background-color: #327d78;
  border-color: #327d78;
}

.scorer-header-btn-primary:active {
  /* background-color: #00565e !important; */
  border-color: #00565e;
}

.scorer-header-btn-primary:focus {
  /* box-shadow: 0 0 0 0.2rem #009fae; */
  border-color: #00565e;
}
