/*
custom-button.css is used for all CustomButton components style that cannot be added inside a const
*/

.primary {
  color: white;
  background-color: #00565e;
  border-color: #00565e;
}

.primary:hover:enabled {
  background-color: #327d78;
}

.primary:active:enabled {
  background-color: #00565e !important;
}

.primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #009fae;
}

.primary-time {
  color: white;
  background-color: #00565e;
  border-color: #00565e;
}

.primary-time:hover:enabled {
  background-color: #327d78;
}

.primary-time:active:enabled {
  background-color: #00565e !important;
}

.primary-time:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #009fae;
}

.primary-in-test {
  color: white;
  background-color: #343a40;
  border-color: white !important;
}

.primary-in-test:hover {
  color: #343a40;
  background-color: white;
  border-color: white !important;
}

.primary-in-test:focus {
  color: #343a40;
  background-color: white;
}

.primary-wide {
  width: 25%;
  color: white;
  background-color: #00565e;
  border-color: #00565e;
}
.primary-wide:hover {
  background-color: #327d78;
}
.primary-wide:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #009fae;
}

.secondary {
  color: #00565e;
  background-color: white;
  border-color: #00565e !important;
}

.secondary:hover:enabled {
  color: white;
  background-color: #00565e;
}

.secondary:active:enabled {
  background-color: #327d78 !important;
}

.secondary:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #00565e;
}

.success {
  color: white;
  background-color: #278400;
  border-color: #278400 !important;
}

.success:hover:enabled {
  color: white;
  background-color: #1c5e00;
}

.success:active:enabled {
  background-color: #278400 !important;
}

.success:focus {
  outline: none;
  background-color: #1c5e00;
}

.danger {
  color: white;
  background-color: #d3080c;
  border-color: #d3080c !important;
}

.danger:hover:enabled {
  color: white;
  background-color: #ae070a;
}

.danger:active:enabled {
  background-color: #d3080c !important;
}

.danger:focus {
  outline: none;
  background-color: #ae070a;
}
