/*
password.css is used for the Password.jsx styles that cannot be added inside a const
*/

.invalid-password-field {
  border-right: none !important;
}

.invalid-password-field:focus {
  border-right: none !important;
}

.invalid-field {
  border-radius: none !important;
}
