/*
registration-form.css is used for the RegistrationForm.jsx styles that cannot be added inside a const
*/

.privacy-notice-grid {
  display: -ms-grid;
  display: grid;
}

.privacy-notice-grid-checkbox {
  -ms-grid-column: 1;
  grid-column: 1;
}

.privacy-notice-grid-description {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: 24px;
}

.invalid-dob-field {
  border: 3px solid #923534;
  border-radius: 8px;
}
