/*
scorer_ola.css is used for all Scorer OLA components style that cannot be added inside a const
*/

/* style applied to all buttons with this provided prefix */
button[id*="scorer-ola-my-availability-days-of-week-tabs-tab-"] {
  width: 100%;
}

/* style applied to all buttons with this provided prefix */
button[id*="scorer-ola-my-availability-days-of-week-tabs-tab-"]:disabled {
  width: 100%;
  opacity: 0.5 !important;
  pointer-events: none !important;
}

/* style applied to all buttons with this provided prefix */
button[id*="scorer-ola-tests-to-assess-tabs-tab-"] {
  width: 100%;
}

/* style applied to all buttons with this provided prefix */
button[id*="scorer-ola-tests-to-assess-tabs-tab-"]:disabled {
  width: 100%;
  opacity: 0.5 !important;
  pointer-events: none !important;
}

/* style applied to all buttons with this provided prefix */
button[id*="scorer-ola-my-assigned-tests-tabs-tab-"] {
  width: 100%;
}

/* style applied to all buttons with this provided prefix */
button[id*="scorer-ola-my-assigned-tests-tabs-tab-"]:disabled {
  width: 100%;
  opacity: 0.5 !important;
  pointer-events: none !important;
}
