/*
inbx.css is used for the Inbox.jsx, EmailPreview.jsx, EditTask.jsx and Email.jsx
styles that cannot be added inside a const
*/

.react-tooltip-custom-class {
  opacity: 1 !important;
  border: 1px solid #00565e !important;
  max-width: 600px !important;
}
