/*
test-builder.css is used for all Test Builder components style that cannot be added inside a const
*/

.upload-json-custom-browse-button-error {
  border-top: 3px solid #923534 !important;
  border-bottom: 3px solid #923534 !important;
  border-right: 3px solid #923534 !important;
  border-radius: 0 4px 4px 0 !important;
}
