/* ToolsButton.jsx Style */

.tools-button:focus {
  outline-style: solid;
  outline-color: #00565e;
  outline-width: 3px;
}

.tools-button:hover {
  background-color: #00565e !important;
  color: white !important;
}

.tools-button-in-test:focus {
  background-color: white !important;
  color: #343a40 !important;
}

.tools-button-in-test:hover {
  background-color: white !important;
  color: #343a40 !important;
}

.dropdown-item-in-test {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: #64686c;
  border: 0;
  min-height: 40px;
}

.dropdown-item-active-in-test {
  background-color: #343a40 !important;
}

.dropdown-item-in-test:hover {
  background-color: black !important;
}
