/*
top-tabs.css is used for all uit components style that cannot be added inside a const
*/

#top-tabs-tab-add-tab-button-key {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.top-tabs-transparent-tab-style {
  background-color: transparent !important;
}

