/*
uit.css is used for all uit components style that cannot be added inside a const
*/

.custom-browse-button-error {
  border-top: 3px solid #923534 !important;
  border-bottom: 3px solid #923534 !important;
}

.custom-download-template-button-error {
  border-top: 3px solid #923534 !important;
  border-right: 3px solid #923534 !important;
  border-bottom: 3px solid #923534 !important;
  border-radius: 0 4px 4px 0 !important;
}

.transparent-borders {
  border: 1px solid rgb(0, 86, 94, 0.7) !important
}
